.App{
    width: 100%;
}

.clRed{
    background: red;
}

.clOrange{
    background: orange;
}

.clYellow{
    background: yellow;
}

.clGreen{
    background: green;
}


.clBlue{
    background: blue;
}


/*BTN COLOR*/
.clRedBtn{
    border-color: red;
}
.clRedBtn:hover{
    background: red;
}
.clOrangeBtn{
    border-color: orange;
}
.clOrangeBtn:hover{
    background: orange;
}
.clYellowBtn{
    border-color: yellow;
}
.clYellowBtn::hover{
    background: yellow;
}
.clGreenBtn{
    border-color: green;
}
.clGreenBtn:hover{
    background: green;
}
.clBlueBtn{
    border-color: blue;
}
.clBlueBtn:hover{
    background: blue;
}

.degBtn{
    margin: 0.7em;
}

.temperatureBlock{
    display: flex;
    justify-content: center;
    width: inherit;
    margin: 1em;
}
.temperature{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: xx-large;
    border-radius: 50%;
    padding: 1em;
}

.tempTypeBtns{
    display: flex;
    flex-direction: column;
}


.extraDataBlock{
    display: flex;
    width: inherit;
    justify-content: center;
    margin: 1em;
}

.extraDataContent{
    display: grid;
    grid-template-areas: "loc loc"
    "humid pressure";
    grid-gap: 1em;

    background: rgb(255, 255, 255);
    padding: 1em;
    font-size: x-large;

    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(189, 189, 189);
}

.exDataLoc{
    grid-area: loc;
    text-align: center;
}

.exDataHumid{
    grid-area: humid;
}

.exDataPress{
    grid-area: pressure;
}